{{ if not (eq .Params.share false) }}
<div class="share-menu">
    {{ $title := .Title }}
    {{ $url := printf "%s" .Permalink | absLangURL }}
    {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}

    {{/* make a beatufuk text that says share this post on */}}

    Share this post on:

    <a href="http://www.facebook.com/sharer.php?u={{ $url }}" aria-label="share on Facebook">
        {{ partial "helper/icon" "brand-twitter" }}
    </a>

    <a href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}"
        aria-label="share on Twitter">
        {{ partial "helper/icon" "brand-facebook" }}

    </a>

    <a href="mailto:?subject=Check%20out%20{{ $title }}.&body={{ $body }}" aria-label="share on Email">
        {{ partial "helper/icon" "email" }}

    </a>
</div>
{{end}}